build_*/*
install_*/*
bin/*
lib/*
*/build_*/*
*/install_*/*
*/bin/*
*/lib/*
*.o
*.a
*.so
*.bin
*.swp

_book
node_modules
__pycache__
inference/flow/include/flow.pb.h
caffe_pb2.py

model_tools/tools/tensorflow2caffe/*/*.txt
model_tools/tools/tensorflow2caffe/*/*.npy

*.bolt
*.onnx
*.tflite
*.pb
*.prototxt
*.caffemodel
*.pdf

third_party

common/gcl/tools/kernel_lib_compile/bin2char
common/gcl/tools/kernel_lib_compile/gcl_binary
common/gcl/tools/kernel_lib_compile/gcl_device_name
common/gcl/tools/kernel_lib_compile/include
common/gcl/tools/kernel_lib_compile/src
common/gcl/tools/kernel_lib_compile/build
common/gcl/tools/kernel_lib_compile/name
common/gcl/tools/kernel_lib_compile/cl
common/gcl/kernelBin
common/gcl/tools/kernel_source_compile/include
common/gcl/tools/kernel_source_compile/src
kit/iOS/ImageClassification/ImageClassificationDemo/libbolt/imagenet_classes.txt
kit/iOS/ImageClassification/ImageClassificationDemo/libbolt/headers
kit/Android/ImageClassification/app/src/main/assets/imagenet_classes.txt
kit/Android/ImageClassification/app/src/main/cpp/libbolt/headers
kit/Android/CameraEnlarge/app/src/main/cpp/libbolt/headers
kit/iOS/CameraEnlarge/CameraEnlarge/libbolt/headers
kit/Android/SimpleImageClassification/app/src/main/assets
kit/Android/SimpleImageClassification/app/src/main/java
kit/iOS/SimpleImgClassfication/libbolt
kit/Android/Semantics/app/src/main/java
kit/Android/Semantics/app/src/main/assets/
kit/Android
kit/iOS


final_combinations.txt
single_combinations.txt
mt_result.txt
ptq_result.txt
engine_result.txt
tmp.txt
report.csv
