/build
/Raul
/*.sh
/*.bat
/*.exe
/*.dll
/*.so
*.xml
*.json
*.pyc
*.o
*.so
*_install.cmake
Makefile
CMakeCache.txt
CMakeFiles/
thirdParty/turbojpeg/build
testAssets/images/*.bmp
testAssets/images/CIFAR/*.bmp
testAssets/CIFAR
testAssets/MNIST
testAssets/PTB
/docs/html
/_out
/model_out
/model
.idea
/testAssets/test_cnn_layer/globalaverage/dump.bin
dump.bin
*.cbp
*.gz
tests/python/data/*
tests/CTestTestfile.cmake
RaulTests
RaulDemo
