[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = false

[dev-packages]

[packages]
numpy = "*"
pandas = "*"
matplotlib = "*"
jupyterlab = "*"
torch = "*"
torchvision = "*"
black = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
